body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    background: url('https://img.freepik.com/free-photo/3d-gym-equipment_23-2151114193.jpg?t=st=1713544116~exp=1713547716~hmac=defabbe230bfcf56a2479f54fea8cd03839dd6f486012dd54c2d0287ec26ee41&w=1800');
    background-size: cover; /* Adjust the background size to cover the entire body */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
    padding: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed for vertical centering */
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(48px); /* Blur effect */
}

label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-transform: uppercase;
   
}
input[type="date"] {
    text-transform: uppercase; /* Transform text to uppercase */
    width: 100%; /* Set width to fill the parent container */
    padding: 8px; /* Adjust padding for better appearance */
    box-sizing: border-box; /* Include padding and border in the width */
    margin-bottom: 10px;

}
:focus{
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #040607;
    color: #fff;
    border: none; /* Remove border */
    border-radius: 24px;
    cursor: pointer;
    height: 40px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #040607;
    border: 1px solid #faf8f8; /* Add border on hover */
    transition: 0.1s ease;
}
/* Base styling for toast messages */
.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    z-index: 1000;
    transition: opacity 3.5s ease;
    opacity: 0;
}

/* Success toast styling */
.toast-success {
    background-color: #4CAF50; /* Green background for success */
}

/* Failure toast styling */
.toast-failure {
    background-color: #ec5247; /* Red background for failure */
}
#viewAllUsersLink {
    display: block;
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    color: white;
    font-family: inherit;
    text-decoration: none;
    position: relative; /* Added position relative for pseudo-element */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

#viewAllUsersLink::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px; /* Adjust the height of the underline */
    background-color: white; /* Color of the underline */
    transition: width 0.3s ease; /* Transition for width */
}

#viewAllUsersLink:hover::before {
    width: 30%; /* Expand the underline from left to right */
}

/* Optional: Adjustments for active links */
#viewAllUsersLink:active::before {
    width: 30%; /* Show underline for active links */
}
.header h1 {
    color: #fff; /* White color for the text */
    font-size: 16px; /* Reduced font size */
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
}
.header h1 i {
    margin-left: 10px;
    cursor: pointer;
    color: #fff; /* Color for the icons */
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px; /* Adjust margin as needed */
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Adjusted margin for centering */
    padding: 20px;
    max-width: 80%; /* Adjusted max-width for responsiveness */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.user-table-container {
    max-height: 400px; /* Adjusted max height for scrolling */
    overflow-y: auto;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Adjusted margin for spacing */
    border-radius: 8px;
}

.user-table th,
.user-table td {
    padding: 8px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-table tr:hover {
    background-color: #f1f1f1;
}
