@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url();
}

header {
    color: blue; /* Changed from #fff to blue */
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #444;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: auto;
}
